@page "/QRReader"
<h2>QRReader</h2>

<p>This is the QRReader page. This will be used to scan QR codes from the Backend Tablet to pull scheduling data, etc.</p>

<button
    class="text-lg-center">
    Scan
</button>

@code {
    
}