@page "/"

<div class="homediv">
    <h1>-- Welcome to DiamondScout --</h1>
    <p>
        <a href="https://github.com/WindsorCT-Robotics/DiamondScout">https://github.com/jason-slade/DiamondScout</a>
    </p>
</div>


<style>

.homediv {
    text-align: center;
}    
    
</style>

@code {
    
}